<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h3 class="text-center">Edit "<%= @bookmark.name %>" bookmark</h3>
		<br />
		<%= render partial: 'form', locals: {topic: @topic, bookmark: @bookmark} %>
	</div>
</div>
