<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="text-center"><%= @topic.title %></h1>
		<hr />
		<ul class="bookmark-list">
			<li>Bookmarks go here</li>
		</ul>
	</div>
</div>
