<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1 class="text-center">About Bookmark Bank</h1>
		<br />
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus, tellus id semper dictum, mauris sapien mollis eros, porttitor tempus neque nisi vel ante. Aenean luctus dolor non imperdiet commodo. Phasellus egestas, turpis a tempor luctus, odio ante molestie metus, eget vulputate nunc purus vitae tortor. Donec et est iaculis, sodales quam et, convallis lectus. Nam porttitor in felis vitae rhoncus. Pellentesque sed blandit quam. Vestibulum feugiat varius risus, eleifend mollis ipsum auctor nec. Morbi nibh massa, sagittis tristique odio sed, pretium suscipit ex. Pellentesque non viverra nisl. Proin blandit fringilla finibus. Curabitur suscipit mi et facilisis posuere. Proin sit amet lorem eget nisl finibus gravida. Aenean ac mi at est elementum varius.</p>
	</div>
</div>
