/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.sign-in-nav {
	padding: 1rem;
	display: inline-block;
}

.bookmark-topic-title {
	margin-bottom: 2rem;
	background-color: #ade6ff;
}

/***** Devise links *****/

.devise-link {
	display: inline-block;
	margin: 0.5rem;
}

/***** Clearfix *****/

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/***===================***
DESIGN STYLES
======================***/

body {
	// background-color: #267cd7;
	background-color: #FFF;
	color: #ee7823;
}

.jumbotron {
	// background-color: #65aefa;
	background-color: #0FACF3;
	color: #FFF;
}

a {
	color: #ee7823;;
}

a:hover {
	color: #0FACF3;
}

// .text-muted {
// 	color: #fff;
// }

.btn.btn-primary {
	background-color: #ee7823;
	border: 1px solid #cf6921;
	color: #fff;
}

.nav .navbar-brand {
	color: #fff;
	background-color: #0FACF3;
}

.nav .navbar-brand:hover {
	background-color: #e47729;
	color: #fff;
}

.simple-nav-link {
	color: #0FACF3;
}
