/***** flash *****/
.alert-error {
    background-color: #b94a48;
    border-color: #b94a48;
    color: #fff;
    text-align: left;
 	}

.alert-alert {
    background-color: #b94a48;
    border-color: #b94a48;
    color: #fff;
    text-align: left;
 	}

.alert-success {
    background-color: #468847;
    border-color: #468847;
    color: #fff;
    text-align: left;
 	}

.alert-notice {
		background-color: #468847;
    border-color: #468847;
    color: #fff;
    text-align: left;
 	}
